.Tips-gprogram{
  border: 0.5px solid rgb(199, 210, 254 );
  text-align: center;
  width: 220px;
  display: flex;
  gap: 20px;
  border-radius: 20px;
  margin-top: 100px;
  background-color: white;
}
.Tips-span{
  width: 10px;
  margin: 5px;
  height: 10px;
  border-radius: 100%;
    animation: spandot 2s infinite ease-in-out;
    background:linear-gradient(to right,(#22d3ee,#6366f1)) !important;
}
  @keyframes spandot {
    0% {
      transform: scale(0.8);
      background: radial-gradient(circle at center, #4a6cf7 0%, #4a6cf7 30%, transparent 40%);
    }
    50% {
      transform: scale(1.2);
      background: radial-gradient(circle at center, #4a6cf7 0%, #4a6cf7 90%, transparent 100%);
    }
    100% {
      transform: scale(0.8);
      background: radial-gradient(circle at center, #4a6cf7 0%, #4a6cf7 30%, transparent 40%);
    }
  }